*{
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div, header, img, address{
    padding: 0;
    margin: 0;
}

body{
    background: snow;
}

#application-root{
    padding: 30px 10px;
}

.container{
    background: white;
    max-width: 900px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

header h1{
    text-align: center;
    /* border-bottom: 1px solid black; */
    padding-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.section-style{
    padding: 20px;
    /* border-bottom: 1px solid black; */
}

.h3-style, .h5-style{
    font-weight: 600;
    text-transform: uppercase;
}
.h3-style{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
.h5-style{
    margin-bottom: 3px;
}
.p-style{
    letter-spacing: .07em;
    line-height: 1.5em;
    font-size: .8em;
}
.project, .exp, .edu{
    padding: 10px 0px;
}
.exp-company-name-h5{
    font-weight: 600;
    padding-bottom: 5px;
}
.exp-title{
    padding-right: 20px;
}
.exp-h5, .edu-h5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.address-style{
    font-size: 0.9em;
    padding-right: 20px;
}
.contact img{
    max-width: 300px;
    padding-top: 20px;
}
.contact{
    border-bottom: none;
}

@media only screen and (max-width: 480px){
    .container{
        padding: 30px 10px;
    }
    .section-style{
        padding: 20px 10px;
    }
    .h3-style{
        text-align: center;
    }
    .contact{
        text-align: center;
    }
}